<configuration scan="true" scanPeriod="60 seconds" debug="false">
    　　
    <!-- 控制台日志配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %c [%X{trace}] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 日志文件日志配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${baseDir}/OAuth2Demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${baseDir}/OAuth2Demo.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxFileSize>50MB</MaxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d %p %c [%X{trace}] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>